* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white1: #ffffff;
  --black1: #000000;

  --textgrey: #4b6ac9;

  --grey1: #dfe4e9;
  --grey2: #bdc7e9;
  --grey3: #efefef;
}
.board-details {
  width: 100%;
  height: calc(100vh - 68px);
  background-color: var(--grey2);
  overflow-x: scroll;
}
.board-details-list {
  width: fit-content;
  display: flex;
}
